.blog {
    align-items: center;
    justify-content: center;
    margin:  4.5% 15.5% 4.5% 15.5%;
}

.blog-header {
    font-size: 26px;
}

.blog-date {
    font-size: 10px;
}
.blog-screenshot{
    max-width: 69%;
}

@media(max-width: 850px) {
    .blog {
        width: 90%;
        margin: 5%;
    }
    .blog-screenshot{
        max-width: 100%;
    }
}