.blog {
    align-items: center;
    justify-content: center;
    margin:  4.5% 15.5% 4.5% 15.5%;
}

.blog-header {
    font-size: 26px;
}
h1{
   font-weight: bolder; 
   color: #646cff
}

.code{
    background-color:var(--darker-background-color);
    border: 1px solid rgb(212, 209, 209); /* Add a black border */
    border-radius: 5px;
}
.blog-date {
    font-size: 10px;
}
.blog-screenshot{
    max-width: 100%;
}

@media(max-width: 850px) {
    .blog {
        width: 90%;
        margin: 5%;
    }
    .blog-screenshot{
        max-width: 100%;
    }
}