#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffbf);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.main-div{
  height: 80%;
  
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
